<h1><%= @flat.name %></h1>
<p><%= @flat.address %></p>
<p><%= @flat.description %></p>
<p><%= @flat.price_per_night %> €/night</p>
<p><%= @flat.number_of_guests %> guests</p>
<img src="<%= @flat.picture_url %>" alt="<%= @flat.name %>">
<%= link_to 'Edit', edit_flat_path(@flat), class: 'btn btn-secondary' %>
<%= link_to 'Back', flats_path, class: 'btn btn-primary' %>
<%= link_to 'Delete', @flat, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
